<div id="cusdis_thread"
     data-host="https://cusdis.com"
     data-app-id="<%= theme.comments.cusdis.app_id %>"
     data-page-id="<%= page.path %>"
     data-page-url="<%= page.permalink %>"
     data-page-title="<%= page.title %>"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>