<div id="pagecontainer" class="container">
    <div id="content">
    <div id="index">
      <h3  class="category-year">LINK</h3>
      
          <% Object.keys(theme.link).forEach(key => { %>
            <div class="category basic-posts">
            
              <div class="article">
                <article class="article" >
                  <header class="post-header">
                    <span class="title"><a  href="<%=theme.link[key]%>"><%=key%></a></span>
                    <time class="date"><%= theme.link[key]%></time>
                  </header>
                </article>
              </div>
             
            </div>
          <% }); %>  
      
    </div>
  </div>
  </div>