
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>

<div class="body-outer">
  <div class="body-inner">
    <%- body %>
  </div>
  
</div>

<%- partial('_partial/after-footer') %>
</body>
</html>
