
    .posss {
        font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", "STSong", Serif;
        font-weight: 450;
      }
  
      h1, h2, h3, h4, h5, h6 {
        color: #2E2E2E;
        line-height: 1.15em;
        font-family: 'Open Sans','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
        text-rendering: geometricPrecision;
      }
  
        #pagecontainer {
            background-color: #fff;
            min-height: calc(100vh - 510px);
        }
  
      #post-content {
        padding-top: 36px;
        border-top: 1px dashed #999999;
        line-height: 1.6rem;
        padding-bottom: 100px;
      }
  
      #post-content>blockquote:first-child {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        margin-bottom:2em;
        margin-left: 0;
      }
  
        .nav {
        border-bottom: none;
        height: auto;
      }
  
        .inner-page {
            width: 90%;
            max-width: 800px;
            margin: auto;
        }
  
        h1 {
            border-bottom: 0;
        }
  
      #header {
        padding-bottom: 32px;
      }
  
      #header h1 {
        text-align: center;
        white-space: pre-wrap;
        width: 90%;
        margin: 81px auto 48px auto;
      }
  
      h1 {
        font-size: 3.6rem;
        letter-spacing: -2px;
        text-indent: -3px;
      }
  
      h2 {
        margin-top: 2em;
      }
  
      /* .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
          background-color: initial;
          border: #777 solid 1px;
      } */
  
      .post-meta {
        font-style: italic;
        text-align: center;
        color: #7a7a7a;
      }
  
      div.highlighter-rouge {
        padding: 8px;
        border: 1px #777 solid;
        line-height: 1.2rem;
        font-family: Menlo, Monaco, "Courier New", monospace;
      }
  
      div.highlighter-rouge pre{
        font-size: 0.95em;
        overflow: hidden;
        word-break: break-word;
        white-space: pre-wrap;
      }
  
      a {
        color: #463F5C;
        text-decoration: underline;
      }