
body,p,div,span{
  font-family: 'Century Gothic';
}
blockquote{
  margin: 0;
  padding: 0;
}

.nav {
    position: relative;
    width: 100%;
    top: 0px;
    border-bottom: 1px dashed #999999;
    min-height: 80px;
    padding-top: 15px;
}

.nav2{
  position: relative;
  width: 100%;
  top: 0px;
  border-bottom: 1px dashed #999999;
  min-height: 70px;
  padding-top: 8px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 35px 0 35px;
}

.product-name,
.product-name a {
    font-size: 1.6em;
}
.category-year{
  margin-top: 70px;
}

.category {
  width: 90%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  margin-bottom: 15px;
  padding: 0;
  position: relative;
}


.category .article {
  text-align: left;
  font-weight: 300;
}

.category .article .post-header {
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  line-height: 24px;
}

.category .article .title a {
  text-decoration: none;
  color: inherit;
}

.category .article .title a:hover {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 48em) {
  .date {
    display: none;
  }
}

@media screen and (max-device-width: 330px) {
  .product-name {
    display: none;
  }
}

.category .article .date {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.2);
  margin-top: 7px;
  margin-bottom: 0;
}

.contact-posts .article .date {
  text-transform: none;
}

.nav .pure-menu-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
}

#content {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}


code,kbd,pre,samp{
  font-size:1em
}
code{ 
  /* 待考虑 */
  padding: 4px;
  border-radius: 4px;
  background-color: #F3F4F4;
  font-size: 0.9em;
  font-weight: normal;
  font-family: 'Century Gothic';
}

pre>code{
  background: none;
  font-size: 1em;
}
.highlight code {
    display: block;
}

.math * {
    color: inherit !important;
}

code.highlighter-rouge * {
  color: initial !important;
}

blockquote {
  padding: .1em 1em;
  border-left: 5px solid #DFE2E5;
  color: #2F363D;
}
.hljs{
  overflow: scroll;
}
img {
	width: auto;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 12px;
  line-height: 1.2;
  vertical-align: top;
  border-top: 1px solid #333;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #333;
}
table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #333;
}

video {
  display: block;
  margin: auto;
}

#search-results p {
  line-height: 22px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 24px;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: #555;
}

#search-results header {
  font-weight: bold;
  margin-top: 32px;
}

#search-box {
  border: none;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 10px;
  line-height: 24px;
  display: block;
  width: 100%;
}

#search-box:focus {
  outline: none;
  border-color: #3F51B5;
}

.search-button {
  border: 0;
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0;
  opacity: 0.3;
  background: transparent;
}

.search-button:hover {
  opacity: 1;
}
