
body{
  margin: 0;
}
  

#menu-outer{
  border-bottom: 1px dashed #333;
}

.toc>ol,li{
  list-style:disc;
}

.page-number{
display: none;
}
.extend{
  text-decoration: none;
  color: #333;
  padding: 8px;
}
.extend:hover{
  background: #EEEEEE;
}