/* post */
.post-inner{

}
.post-intro{
    margin-bottom: 30px;
}
.post-intro-no-cover{
    margin-bottom: 70px;
}
.post-title{
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 20px;
}
.post-cover{
    margin-top: 80px;
}
.post-cover-img{
min-width: 100%;
height: 350px;
object-fit: cover;
}
/* post-meta */
.post-meta{
    display: flex;
    align-items: center;
}
.meta-avator img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.meta-author{
    margin-left: 15px;
    margin-right: auto;
    font-size: 1.1em;
}
.meta-intro{
    font-size: 1em;
    text-align: center;
    color: #333;
}


/* .intro-span{
    display: inline-block;
    position: relative;
}
.intro-span::after{
    content: "";
    position: absolute;
    top: 105%;
    left: 3em;
    right: 3em;
    bottom: -.3em ;
    transition: top .2s cubic-bezier(0,.8,.13,1);
    background-color:  rgb(26, 152, 255);
} */

.post-content-outer{
margin-top: 50px;
display: flex;
justify-content: center;
}
.post-content-inner{
width: 800px;
margin-bottom: 100px;
}
/* 规范各个标题的大小 */
.post-content-inner h2,h3,h4,h5,h6{
    color: #333;
    font-weight: normal;/* 待定 */
}
.post-content-inner h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.7em;
}
.post-content-inner h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.55em;
}
.post-content-inner h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
}
.post-content-inner h5{
    font-size: 1em;
}
.post-content-inner h6{
    font-size: 1em;
    font: 1em sans-serif;
}

.post-content-inner h2::after{
    content: "#";
    display: inline-block;
    mix-blend-mode: multiply;
    color: #E3E3E3;
    margin-left: 0.5rem;
    transition: all 0.5s ease 0s;
}

/* 引用栏 */
.post-content-inner blockquote{
    border-left: 4px solid rgb(26, 152, 255);
    padding-left: 17px;
    color:#555555 ;
    font-size: 0.9em;
}
/* .post-content-inner blockquote::before{
    content: '≤';
    color:rgb(26, 152, 255) ;
    font-size: 1.2em;
    font-weight: 1000;
} */

/* 列表 */

.post-content-inner ul,ol{
     padding-left: 22px;
     margin-top: 10px;
     margin-bottom: 10px;
}
/* 超链接 */
.post-content-inner a{
    color: rgb(26, 152, 255);
}
.post-content-inner a:hover{
    text-decoration: underline;
}


/* 图片 */
.post-content-inner img{
	width: auto;
    max-width: 100%;
    margin: 1.1em auto ;
    display: block;
    border-radius: 4px;
}
/* 表格 */
table {
    width: 100%;
    border: 3px solid #E3E3E3;
    border-collapse:collapse;
    border-spacing:0;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 12px;
  line-height: 1.2;
  vertical-align: top;
  border-top: 1px solid #E3E3E3;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 3px solid #E3E3E3;
}
table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #E3E3E3;
}

/* 加粗 */
.post-content-inner p>strong{
    color:#1A98FF ;
    display: inline-block;
    box-shadow: inset 0 -0.2em 0 #1A98FF;
}

/* 分割线 */
.post-content-inner hr{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    border: none;
    background-color: #E3E3E3;
}

/* 代码高亮 */
pre .hljs{
    border-radius: 8px;
}
code,kbd,pre,samp{
    font-size:1em;
    font-weight: normal;
    font-family: hack-regular,hack-italic,hack-bold,hack-bolditalic;
}
.hljs{
    font-family: hack-regular,hack-italic,hack-bold,hack-bolditalic;
    overflow: scroll;
}
.hljs span{
    font-family: hack-regular,hack-italic,hack-bold,hack-bolditalic;
}
.hljs,code{
    font-weight: normal;
}
/* 小代码段 */
code{
    font-size: 0.8em;
    font-weight: 1000;
    background-color: rgba(26, 152, 255,.15);
    color: rgb(26, 152, 255);
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0px 4px;
    font-family: hack-regular,hack-italic,hack-bold,hack-bolditalic;
}
.hljs{
    font-size: 1em;
}
/* toc */
/* 位于文章上方的toc */
.toc-top{
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 20px 40px;
    list-style: disc;
    margin-bottom: 20px;
}
.toc-top .toc-top-link{
    font-size: 0.9em;
    transition: all .4s;
}
.toc-top .toc-top-link:hover{
    text-decoration: none;
    /* margin-left: 5px; */
}

/* .toc{
    z-index: 9999;
    position: fixed;
    top: 270px;
    right: 120px;
    overflow: scroll;
} */

/* 行高管理 */
.post-content-inner{
    line-height: 1.7;
}
.post-content-inner p{
    line-height: 2;
}
.post-content-inner blockquote>p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.65;
}
.post-content-inner h5{
    line-height: 3;
}
.post-content-inner h6{
    line-height: 3;
}
.post-content-inner pre{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
}
.post-content-inner ul,ol,li p{
    line-height: 2;
}

/* 分类 */
.post-categoris-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 20px 20px;
}
.post-categoris-bottom .post-categoris-bottom-link:hover{
  text-decoration: none;
}
.post-categoris-name{
    font-size: 1.1em;
    font-weight: 1000;
    margin-bottom: 10px;
}

/* gitalk美化 */
#gitalk-container .gt-header-textarea,.gt-comment-content{
    border-radius: 7px;
}

#gitalk-container .gt-header-controls>.gt-header-controls-tip,.gt-svg{
    color: #1A98FF;
}
#gitalk-container .gt-header-avatar>img,.gt-comment-avatar>img{
    border-radius: 100%!important;
}
#gitalk-container .gt-btn-preview{
    border: 1px solid #1A98FF;
    border-radius: 20px;
    transition: all .3s;
}
#gitalk-container .gt-btn-preview:hover{
    background-color:#1A98FF ;
    color: #fff;
}
#gitalk-container .gt-btn-login .gt-btn-public{
    border: 1px solid #1A98FF;
    background-color:#1A98FF ;
    border-radius: 20px;
    transition: all .3s;
}
#gitalk-container .gt-btn-login:hover .gt-btn-public:hover{
    background-color:#fff;
    color: #1A98FF ;
}
#gitalk-container .gt-btn-public{
    border: 1px solid #1A98FF;
    background-color:#1A98FF ;
    border-radius: 20px;
    transition: all .3s;
}
#gitalk-container .gt-btn-public:hover{
    background-color:#fff;
    color: #1A98FF ;
}