/* 自适应 */
@media (max-width: 1000px){
    .post-content-inner{
      width: 650px;
    }
    .menu-site-name{
      margin-left: 23px;
    }
    .footer-text{
      margin-left: 23px;
    }
    .intro-content{
      margin-left: 23px;
    }
}
/* @media (max-width:780px){
  .post-content-inner{
    width: 650px;
  }
  .menu-group{
    display: none;
  }
  .footer-contact{
    display: none;
  }
}
@media (max-width:630px){
  .post-content-inner{
    width: 500px;
  }
} */