/* 字体引入 */
/* 代码用的hack字体 */
@font-face{
  font-family: hack-regular;
  src: url(../font/Hack-Regular.ttf);
}
@font-face{
  font-family: hack-italic;
  src: url(../font/Hack-Italic.ttf);
}
@font-face{
  font-family: hack-bold;
  src: url(../font/Hack-Bold.ttf);
}
@font-face{
  font-family: hack-bolditalic;
  src: url(../font/Hack-BoldItalic.ttf);
}
/* logo用的Century Gothic字体 */
@font-face{
  font-family: Gothic;
  src: url(../font/GOTHIC.TTF);
}
/* 全局样式 */
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  /* background-color: #333; */
}
a{
  text-decoration: none;
  color: #333;
}

body,p,div,span{
  font-family: Gothic;
}
/* 滚动条 */
::-webkit-scrollbar
{
  width:5px;
  height:5px;
  background-color:#ffffff;
}
::-webkit-scrollbar-thumb
{
  /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); */
  background-color:#1A98FF;
}
/* menu */
.menu-outer{
  /* background-color: #fff; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-inner{
  width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.menu-site-name{
  /* font-weight: 1000; */
  font-family: Gothic;
  font-size: 1.6em;
}
.menu-ul{
  list-style: none;
}
.menu-li{
  float: left;
  margin-right: 30px;
  /* font-weight: 1000; */
  font-size: 0.9em;
  color: #898FA0;
  position: relative;
  transition: all .3s;
}
.menu-li:hover{
  color: #333;
}
.active-link li{
  position: relative;
  color: #333;
  
}
.active-link li:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -.2em ;
  transition: all .3s;
  background-color: #1A98FF;
}
.active-link li:hover:after{
  right: 50%;
}

/* body */
.body-outer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.body-inner{
  width: 1125px;
  /* height: 1000px; */
  background-color: #fff;
}

/* home */
.intro-content{
  margin-top: 150px;
  width: 70%;
}
.intro-title{
  font-family: Gothic;
  font-size: 4.5em;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}
.intro-sub{
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.8em;
  margin-left: 5px;
}
/* intro-sub中超链接的样式 */
.intro-sub a{
  display: inline-block;
  position: relative;
}
.intro-sub a:after{
  content: "";
  position: absolute;
  top: 93%;
  left: 0;
  right: 0;
  bottom: -.04em ;
  transition: all .3s;
  background-color: #1A98FF;
}
.intro-sub a:hover:after{
  right: 50%;
}



.intro-contact{
  margin-top: 6px;
  font-size: 1.4em;
  line-height: 1.8em;

  margin-left: 5px;
}
.intro-content,a{
  color: #2E2E2E;
  text-decoration: none;
}
/* archive */
.archive-outer{
  display: flex;
  justify-content: center;
}
.archive-inner{
  margin-top: 30px;
  width: 100%;
  margin-bottom: 100px;
}
.archive-post{
  /* font-weight: 1000; */
  line-height: 1.7em;
  font-size: 1.2em;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  transition: .4s;

  display: flex;

  
}

.archive-post-title{
  font-size: 1.1em;
  transition: .4s;
  margin-right: auto;
}


.archive-post-date{
  font-weight: 1000;
  font-size: 0.7em;
  background-color: rgba(26, 152, 255,.15);
  color: rgb(26, 152, 255);
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0px 10px;

  transition:all .4s;
}

.archive-post:hover{
  /* background-color: #1A98FF;
  color: #fff; */

}
.archive-post:hover .archive-post-title{
  margin-left: 20px;
  /* color: #fff; */
}
.archive-post:hover .archive-post-date{
  /* color: #fff; */
}
/* 分页 */
.paginator{
  margin-top: 50px;
  text-align: center;
}
.paginator .page-number{
  display: none;
}
.paginator .extend{
  margin: 0 10px;
  background-color: rgba(26, 152, 255,.15);
  color: rgb(26, 152, 255);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 1000;

  transition: all .4s;
}
.paginator .extend:hover{
  color: #fff;
  background-color:rgb(26, 152, 255) ;
}

/* footer */
.footer-outer{
  display: flex;
  justify-content: center;
}
.footer-inner{
  padding: 40px 0px;
  width: 1125px;
  display: flex;
  justify-content: space-between;
}
.footer-text{
  color:#898FA0;
  font-size: 1em;
}
.footer-text a{
  color:#898FA0;
  font-size: 1em;
}
.footer-text a{
  transition: all .3s;
}
.footer-text a:hover{
  color: #1A98FF;
}
.footer-contact{
  font-size: 1.2em;
}
.footer-ul{
  list-style: none;
}
.footer-li{
  float: left;
  margin-right: 10px;
  transition: all .3s;
}
.footer-li i{
  color:#898FA0;
  font-size: 1.2em;
  transition: all .3s;
  padding: 5px;
  border-radius: 100%;
}
.footer-li:hover i{
  color: #1A98FF;
}

/* gitalk-saysay优化 */
.gitalk-saysay>#gitalk-container .gt-counts{
  display: none;
}