// 自定义颜色
$color-theme-main = theme-config("style.color.theme-main","#1A98FF")
$color-theme-secondary = theme-config("style.color.theme-secondary","#1E3140")
$color-text-main = theme-config("style.color.text-main","#333333")
$color-text-secondary = theme-config("style.color.text-secondary","#898FA0")


//最大宽度
$layout-max-width = convert(theme-config("style.layout.max-width",1125px))
//文章内容宽度
$post-max-width = convert(theme-config("style.layout.post-max-width",800px))
//side形式的toc的宽度
$side-toc-width =( $layout-max-width - $post-max-width) / 2

// 自适应
$desktop-m = "screen and (max-width:1000px)"
$desktop-s = "screen and (max-width:700px)"
$mobile-m = "screen and (max-width:550px)"
$mobile-s = "screen and (max-width:450px)"

// 字体
@font-face 
  font-family hack-regular
  src url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/Hack-Regular.ttf)
@font-face 
  font-family hack-italic
  src url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/Hack-Italic.ttf)
@font-face 
  font-family hack-bold
  src url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/Hack-Bold.ttf)
@font-face 
  font-family hack-bolditalic
  src url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/Hack-BoldItalic.ttf)
@font-face 
  font-family Gothic
  src url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/GOTHIC.TTF)
@font-face 
  font-family: Merriweather
  src: url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/Merriweather-Regular-9.ttf)