// 自定义颜色
$color-theme-main = theme-config("style.color.theme-main","#1A98FF")
$color-theme-secondary = theme-config("style.color.theme-secondary","#1E3140")
$color-text-main = theme-config("style.color.text-main","#333333")
$color-text-secondary = theme-config("style.color.text-secondary","#898FA0")

//最大宽度
$layout-max-width = theme-config("style.layout.max-width","1125px")

// 自适应
$desktop-m = "screen and (max-width:1000px)"
$desktop-s = "screen and (max-width:700px)"
$mobile-m = "screen and (max-width:550px)"
$mobile-s = "screen and (max-width:450px)"