general-transition()
  transition all .4s
box-shadow-transition()
  box-shadow 0 1.7px var(--color-dress)
  general-transition()

box-shadow-transition-hover()
  box-shadow 0 1px var(--color-theme-main)