<header class="pure-menu pure-menu-horizontal nav" id="header">
  <div class="gallery">
    <div class="product-name">Sorryfu</div>
    <ul class="pure-menu-list">
      <% Object.keys(theme.menu).forEach(key => { %>
        <li class="pure-menu-item"><a href="<%=url_for(theme.menu[key])%>" class="pure-menu-link"><%=key%></a></li>
      <% }); %>
    </ul>
  </div>
</header>