	<div class="pure-g m-content">
		<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-2" >
			<div class="text-content" >
				<p class="intro-content">
					<%=theme.intro.title%>
                </p>
				<p class="sub-content">
					<%=theme.intro.sub%>
				</p>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-1-2"  >
            <div class="img-content"  >
                <img src="<%=theme.intro.img%>"  class="img-detail">
			</div>
		</div>
    </div>
    <!-- <hr class="divider"> -->
