<div class="homepage-content-wrapper">
    <img src="<%= theme.intro.avatar %>" class="homepage-avatar">
    <div>
        <div class="homepage-title"><%= theme.intro.title %></div>
        <% var allPages = site.pages.data %>
        <% var hasIndex = false%>
        <% for(var i = 0; i < allPages.length; i++) { %>
            <% if(allPages[i].path === "homepage.html") { %>
                <% hasIndex = true %>
                <div class="homepage-content">
                    <%- allPages[i].content %>
                </div>
        <% break; }} %>
        <% if(hasIndex !== true){ %>
            <div class="homepage-content">
                <%- markdown(theme.intro.sub) %>
            </div>
        <% }%>
    </div>
</div>