<section class="simple-outer">
    <section class="simple-inner common-typographic">
        <% var last; %>
        <% site.posts.sort('date', -1).each(function(post, i) { %>
            <% var year = post.date.year(); %>
            <% if (last != year){ %>
                <% if (last != null){ %>
                <% } %>
                <% last = year; %>
                    <h2 class="simple-year-title"><%= year %></h2>
            <% } %>
                <div class="simple-post-list">
                    <span class="simple-post-date"><%= date(post.date, 'MM/DD') %></span>
                    <a href="<%= url_for(post.path) %>">
                    <span class="simple-post-title">
                        <% if(post.title === "" || post.title === undefined){ %>
                            untitle
                        <% } else { %>
                            <%= post.title %>
                        <% } %>
                    </span>
                    </a>
                </div>
        <% }) %>
    </section>
</section>
