<section class="intro-section">
    <div class="intro-content">
        <div class="intro-title"><%= theme.intro.title %></div>
        <% var allPages = site.pages.data %>

<!--  TODO 这里的逻辑需要改成，如果有index文件，那么优先index文件，否则就用yml配置里的东西-->
        <% for(var i = 0; i < allPages.length; i++) { %>
            <% if(allPages[i].path === "index/index.html") { %>
                <div class="intro-sub common-typographic">
                    <%- allPages[i].content %>
                </div>
        <% break; }} %>

<!--        <p class="intro-contact">-->
<!--            <% for(var y in theme.contact){ %>-->
<!--                <a href="<%= theme.contact[y][0] %>" target="_blank">-->
<!--                    <i class="<%= theme.contact[y][1] %>"></i>-->
<!--                </a>-->
<!--            <% } %>-->
<!--        </p>-->
    </div>

</section>