<!-- 先放着，改天再来研究 -->

<div class="toc">
    <div class="toc-list">

    </div>
</div>
<script>
    document.ready(
        function () {
            tocbot.init({
                tocSelector: '.toc-list',
                contentSelector: '.post-content-main',
                headingSelector: 'h2',
                collapseDepth: 3,
                orderedList: false,
                scrollSmooth: true,
            })
        }
    )
</script>