
.img-show-inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .img-show-post
        flex-basis: 31%
        .img-show-post-cover
            .img-show-post-cover-class
                width 100%
                height 300px
                object-fit cover