.bottom-comments-outer
    display flex
    justify-content: center
    margin-bottom: 100px

.bottom-comments-inner
    width: $post-max-width
    @media $desktop-m
        width: 730px
    @media $desktop-s
        width: 570px
    @media $mobile-m
        width: 470px
    @media $mobile-s
        width: 350px