/* logo用的Century Gothic字体 */
/* 全局样式 */
* 
  padding 0
  margin 0
body 
  height 100%
  width 100%
a 
  text-decoration none
  color $color-text-main
body,p,div,span 
  letter-spacing: .7px
/* 滚动条 */
::-webkit-scrollbar 
  width 5px
  height 5px
  background-color #ffffff
::-webkit-scrollbar-thumb 
  background-color $color-theme-main
/* menu */
.menu-outer
  font-family Gothic 
  width 100%
  display flex
  justify-content center
.menu-inner 
  width $layout-max-width
  display flex
  justify-content space-between
  align-items center
  padding-top 40px
  padding-bottom 30px
  transition all .3s
.menu-site-name 
  font-family Gothic
  font-size 1.6em
.menu-ul 
  list-style none
.menu-li 
  float left
  margin-right 30px
  font-size 0.9em
  color $color-text-secondary
  position relative
  transition all .3s
  &:hover 
    color $color-text-main
.active-link 
  li 
    position relative
    color $color-text-main
    &:after 
      content ""
      position absolute
      top 100%
      left 0
      right 0
      bottom -.2em
      transition all .3s
      background-color $color-theme-main
    &:hover 
      &:after 
        right 50%

/* sort */
#sort
  cursor pointer
  z-index: 99999
  .categories-outer
    display: none
    z-index: 99999
    background: #fff
    border-radius: 3px
    min-width: 100px
    border 1px solid $color-theme-main
    position absolute
    left -30px
    top 30px
    ul
      list-style none
      text-align: center
      li
        line-height: 2.8
        a
          color: $color-text-secondary
          &:hover
            color $color-text-main


/* body */
.body-outer 
  height 100%
  width 100%
  display flex
  justify-content center
.body-inner 
  width $layout-max-width
  background-color #fff
/* home */
.intro-content 
  margin-top 150px
  width 80%
.intro-title 
  font-family Gothic
  font-size 4.5em
  font-weight 1000
  margin 0
  padding 0
.intro-sub 
  font-family Gothic
  margin-top 30px
  font-size 1.2em
  line-height 1.8em
  margin-left 5px
  a 
    display inline-block
    font-family Gothic
    position relative
    &:after 
      content ""
      position absolute
      top 93%
      left 0
      right 0
      bottom -.04em
      transition all .3s
      background-color $color-theme-main
    &:hover 
      &:after 
        right 50%
/* intro-sub中超链接的样式 */
.intro-contact 
  margin-top 10px
  font-size 1.5em
  line-height 1.8em
  margin-left 5px
.intro-content,a 
  color #2e2e2e
  text-decoration none
  margin-right 3px
/* archive */
.archive-outer 
  display flex
  justify-content center
.archive-inner 
  margin-top 30px
  width 80%
  margin-bottom 100px
.archive-name
  font-size: 2em
  margin: 40px 0px 30px 0px
  font-family: Merriweather
  text-align: center
.archive-post 
  line-height 1.5em
  font-size 1em
  background-color #fff
  border-radius 3px
  transition .4s
  display flex
  margin: 7px 0px
  &:hover
    .archive-post-title 
      color: $color-theme-main

.archive-post-title 
  font-size 1.1em
  transition .4s
  font-family Gothic
  margin-right auto
.archive-post-date 
  font-family: Merriweather
  color $color-theme-main
  font-weight: 1000
  background-color $color-theme-secondary
  font-size: 0.8em
  border-radius 5px
  padding 0px 10px
  transition all .4s
.paginator 
  margin 50px 0px
  text-align center
  .page-number 
    display none
  .space
    display none
  .extend 
    margin 0 10px
    background-color $color-theme-secondary
    color $color-theme-main
    padding 10px 20px
    border-radius 5px
    font-size 0.9em
    font-weight 1000
    transition all .4s
    &:hover 
      color #fff
      background-color $color-theme-main
/* footer */
.footer-outer 
  display flex
  justify-content center
  font-family Gothic
.footer-inner 
  padding 40px 0px
  width $layout-max-width
  display flex
  justify-content space-between
.footer-text 
  color $color-text-secondary
  font-size 1em
  a 
    color $color-text-secondary
    font-size 1em
    transition all .3s
    &:hover 
      color $color-theme-main
.footer-contact 
  font-size 1.2em
.footer-ul 
  list-style none
.footer-li 
  float left
  margin-right 10px
  transition all .3s
  i 
    color $color-text-secondary
    font-size 1.2em
    transition all .3s
    padding 5px
    border-radius 100%
  &:hover 
    i 
      color $color-theme-main
/* gitalk-saysay优化 */
.gitalk-saysay 
  & > #gitalk-container 
    .gt-counts 
      display none
