.lazyload-img-span
    display block
    position relative
    font-size:0
    &::before
        position: absolute
        top: 0
        left: 0
        content: ""
        background-color: #fff
        z-index: 1
        width: 100%
        height: 100%
        transition: all .6s
.img-masks
    &::before
        width: 0%