/* 自适应 */
@media $desktop-m
    .post-content-inner
        width 650px
    .menu-site-name 
        margin-left 23px
    .footer-text 
        margin-left 23px
    .intro-content 
        margin-left 23px