.post-inner
  margin-top 80px
.post-intro
  width $post-max-width
  margin auto
  box-shadow 0 1.1px var(--color-embellish)
  padding-bottom 20px
.post-meta
  display flex
  font-family $font-title
  align-content center
  margin-bottom 7px
  img
    width 25px
    height 25px
    display block
    border-radius 100%
  .post-meta-name
    margin-left 6px
    color var(--color-text-main)
  .post-meta-date
    margin-left 5px
    color var(--color-text-secondary)
.post-title
  font-size 2.5em
  font-weight bold
  color var(--color-text-main)
  font-family $font-title
  margin-bottom 10px
.post-cover
  margin-bottom 15px
.post-cover-img
  min-width 100%
  max-width: 100%
  height 350px
  object-fit cover
.meta-intro
  font-size .9em
  font-family $font-content
  text-align center
  color var(--color-text-secondary)


// post-content-inner
.post-content-inner
  margin-top 50px
  display flex
  width 100vw
  justify-content center
  .post-content-main
    flex-basis $post-max-width
    max-width $post-max-width
  .post-placeholder
    flex 1

// detail post style

.post-annotated
  margin-top 50px
  font-family $font-title
  color var(--color-text-secondary)
  font-weight 1000


// toc
.post-toc
  margin-left 40px
  position sticky
  top 50px
  font-size .83em
  bottom 30px
  ul, ol
    padding-left 1em
    margin 0
  a
    color var(--color-text-secondary)
    &:hover
      box-shadow none
      color var(--color-text-main)

.toc
  overflow-y: auto
  font-family $font-title
  > .toc-list
    overflow: hidden;
    position: relative
    li
      list-style none

.js-toc
  overflow-y: hidden

.toc-list
  margin: 0;
  padding-left 10px

.toc-link
  color: var(--color-text-secondary);
  height: 100%

.is-collapsible
  max-height 1000px
  overflow hidden
  transition all .3s ease-in-out

.is-collapsed
  max-height: 0


.is-position-fixed
  position fixed !important;
  top: 0

.toc-link::before
  background-color var(--color-embellish);
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 1.1px

a.is-active-link
  color #333


