//@import "github-markdown.css"
.post-inner
  margin-top 80px
.post-intro
  margin-bottom 30px
.post-title
  text-align center
  font-size 2.7em
  font-weight bold
  margin-bottom 15px
  color var(--color-text-main)
  font-family $font-title
  position: relative
  line-height: 2.5
  transition all .4s
  &:after
    content ""
    position absolute
    width 65px
    height 1.6px
    background-color var(--color-theme-main)
    bottom: 0
    left 50%
    transform translateX(-50%)
    transition all .4s

.post-cover
  margin-top 80px
.post-cover-img
  min-width 100%
  max-width: 100%
  height 350px
  object-fit cover
.meta-intro
  font-size .9em
  font-family $font-content
  text-align center
  color var(--color-text-secondary)



// post-content-inner
.post-content-inner
  display flex
  justify-content center
  .post-content-main
    flex-basis $post-max-width
    max-width $post-max-width


// detail post style
.post-content-inner,.bottom-comments-inner
  font-size 1.32em
  font-family $font-content
  color: var(--color-text-main)
  ul, ol
    padding-left 2em
    margin 20px 0
.post-content-main,.intro-sub,.bottom-comments-inner
  h1, h2, h3, h4, h5, h6
    margin-top 23px
    margin-bottom 16px
    font-family $font-title
  h1, h2
    &::after
      content "#"
      display inline-block
      color var(--color-text-secondary)
      font-family $font-code
      margin-left 0.5rem
      font-weight: border
  code
    background var(--color-embellish)
    font-size 0.85em
    padding 0 7px
    font-family $font-code
  pre
    max-width $post-max-width
    overflow auto
    font-size .85em
    margin 22px 0
    padding 1.3em 1.2em
    background var(--color-embellish)
    > code
      font-family $font-code
      background none
  p
    margin 20px 0
  img
    max-width 100%
  .lazyload-img-span
    margin 10px 0
  iframe
    width 100%
    aspect-ratio 3.1/2
  hr
    margin 24px 0
    height 3px
    border none
    background-color var(--color-embellish)
  strong
    font-family $font-title
  blockquote
    background var(--color-embellish)
    margin 22px 0
    padding 1em
    quotes "\201C""\201D""\2018""\2019";
    &:before
      color: var(--color-dress)
      content: '“';
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.05em;
      vertical-align: -0.24em;
    p
      display: inline;
  a
    box-shadow-transition()
    &:hover
      box-shadow-transition-hover()
  table
    border-collapse: collapse
    margin: 30px 0px
    width: 100%
    border-width: 2px
    border-style: solid
    border-color: var(--color-embellish)
    border-image: initial
    border-spacing: 0px
    display: table
    thead
      box-shadow: var(--color-embellish) 0px 4px 8px 0px
      display: table-header-group
      vertical-align: middle
      border-color: inherit
    th,td
      padding: .9rem
      border-width: 1px
      border-style: solid
      border-color: var(--color-embellish)
      border-image: initial
    tbody
      display: table-row-group
      vertical-align: middle
      border-color: inherit
      tr
        display: table-row
        vertical-align: inherit
        border-color: inherit
