.search
    margin-top 30px
    margin-bottom 200px

.search-input-outer
    *
        box-sizing border-box
    form
        position relative
        width 55%
        margin 0 auto
    input,button
        border none
        outline none
    input
        width 100%
        height 42px
        padding-left 13px
        padding-right 46px
        background transparent
        border: 2px solid $color-theme-main
    button
        height 42px
        width 42px
        cursor pointer
        position absolute
        background $color-theme-main
        color #fff

#local-search-result
    border-top 1px dashed $color-text-secondary
    margin-top 40px
    padding-top 30px
    li
        list-style none
        margin-bottom 40px
    .search-result-title
        color #333
        font-size 1.3em
        font-weight 700
        transition all .2s
        &:hover
            text-decoration none
            color $color-theme-main
    .search-keyword
        color $color-theme-main
        font-weight 1000