.search
    margin-top 60px
    margin-bottom 200px

.search-input-outer
    *
        box-sizing border-box
    form
        position relative
        width 500px
        margin 0 auto
    input,button
        border none
        outline none
    input
        width 100%
        height 42px
        padding-left 13px
        padding-right 46px
        background transparent
        border: 2px solid $color-theme-main
    button
        height 42px
        width 42px
        cursor pointer
        position absolute
        background $color-theme-main
        color #fff